body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.scroll {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

h2 {
    font-family: sans-serif;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 65px;
    color: #ffffff;
}

#part1 {background: #df4e0b;}
#part2 {background: #5858df;}
#part3 {background: #64dd13;}
#part4 {background: #dfd00a;}
#part5 {background: #d40e5a;}
#part6 {background: #09dee6;}

nav {
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 50;
    margin: 100px 0 0 0;
}

nav ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav ul li {
    font-size: 14px;
    list-style: none;
    margin: 10px 0 10px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}