{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- adds csrf-token. Very important! --> 
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }} <!-- shows the label of the email field -->
                    {% if form.email.errors %} <!-- only gets executed if any errors occur -->
                        {{ form.email(class="form-control form-control-lg is-invalid") }} <!-- shows the email field with red outline -->
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span> <!-- shows all the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }} <!-- shows the email field -->
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} <!-- shows the label of the password field -->
                    {% if form.password.errors %} <!-- only gets executed if any errors occur -->
                        {{ form.password(class="form-control form-control-lg is-invalid") }} <!-- shows the password field with red outline -->
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span> <!-- shows all the errors -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }} <!-- shows the password field -->
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }} <!-- shows the remember me field -->
                    {{ form.remember.label(class="form-check-label") }} <!-- shows the remember me label -->
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }} <!-- shows the submit button -->
                <small class="text-muted ml-2">
                    <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}