html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section {min-height: 100%; margin: 0;}
a {text-decoration: none;}
li {list-style: none;}

h1, h2, h3, a {font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949;}
h2 {color: #5d7177;}
h3 {font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h4, p {font-family: 'Roboto', sans-serif; color: #494949;}

hr {width: 30px; height: 3px; background: #494949; border: 0; margin: 0 auto 40px auto;}
.nav_links, .button, img {transition: all 400ms; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms;}

/* HEADER  ********************************/

header {
    width: 100%;
    height: 8vh;
    position: fixed; 
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 1px 3px #999999;
    z-index: 1;
}

.main_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav_links li {
    list-style: none;
}

.nav_links a{
    color: #494949;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav_links a:hover {
    color: #db562d;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #494949;
    margin: 5px;
}

/* HOME  ********************************/

#home {
    background: url(../img/landing.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1 {
    margin: 240px auto 0 auto;
    font-size: 110px;
} 

#home h2 {
    margin: 0 auto 0 auto;
    font-size: 25px;
}

#home img {
    width: 32px;
    margin-top: 150px;
    opacity: 0.7;
}

#home img:hover {
    opacity: 1;
}

/* ABOUT  ********************************/

#about img {
    width: 240px;
}

#about img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#about h4 {
    font-size: 25px;
}

#about p {
    width: 700px;
    margin: 0 auto 0 auto;
}

/* WORK  ********************************/

#work {
    background: #f0f0f0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0;
}

.projects li {
    width: 33.3%;
    margin-bottom: 15px;
}

.projects img {
    width: 280px;
    height: 170px;
    border-radius: 5px;
}

.projects img:hover {
    transform: scale(1.1);    
    -webkit-transform: scale(1.1);    
    -moz-transform: scale(1.1);    
    -o-transform: scale(1.1);    
    box-shadow: 0 5px 5px #999999;
}

/* CONTACT  ********************************/

form input, textarea {
    font-family: 'Roboto Slap', serif;
    font-size: 15px;
    margin-bottom: 10px;
    border: 2px solid #494949;
    border-radius: 2px;
}

form input:first-child {
    margin-top: 10px;
}

form input {
    width: 552px;
    height: 30px;
}

textarea {
    width: 550px;
    height: 200px;
    resize: none;
}

.input_text {
    color: #494949;
    padding-left: 10px;
}

.button {
    background: #f0f0f0;
    color: #494949;
    width: 566px;
    height: 50px;
}

.button:hover {
    background: #494949;
    color: #f0f0f0;
}

/* FOOTER  ********************************/

footer {
    width: 100%;
    height: 250px;
    background: #3f3f3f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer img {
    height: 90px;
    width: 240px;
}

footer p {
    font-size: 20px;
    font-weight: 500;
    color: #f0f0f0;
    letter-spacing: 1px;
}

/* MEDIA QUERIES  ********************************/

/* TABLETS ************/

@media screen and (max-width: 1024px) {
    h3 {
        padding-top: 12%;
    }

    /* HEADER */
    .nav_links {
        width: 60%;
    }

    /* HOME */

    #home h1 {
        font-size: 90px;
        margin-top: 200px;
    }

    #home h2 {
        font-size: 22px;
    }

    /* ABOUT */

    #about p {
        width: 80%;
    }

    /* WORK */

    .projects li {
        width: 80%;
    }

    .projects li:last-child {
        padding-bottom: 20%;
    }

    .projects img {
        width: 60%;
        height: auto;
    }

    /* CONTACT */

    form input, form textarea {
        width: 60%;
    }

    .button {
        width: 62%;
    }
}

/* MOBILE ************/

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    /* HEADER */

    .nav_links {
        position: absolute;
        margin: 0;
        right: 0;
        height: 30vh;
        top: 8vh;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* you can also use 100% */
        transform: translateX(100%);
    }

    .burger {
        display: block;
    }

    .active {
        transform: translateX(0%);
    }

    /* HOME */

    #home h1 {
        font-size: 60px;
        margin-top: 200px;
    }

    #home h2 {
        width: 70%;
        height: auto;
    }

    /* WORK */

    .projects img {
        width: 70%;
        height: auto;
    }

    /* CONTACT */

    form input, form textarea {
        width: 70%;
    }

    .button {
        width: 72%;
    }

    /* FOOTER */

    footer p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        width: 100%;
    }

    footer img {
        padding-top: 10px;
    }
}